section {
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 60px;
  background: #f6f6f6;
  border-radius: 25px;
  box-sizing: border-box;
  padding: 50px;
  justify-content: center;
}
