$primary: #ff6060;

.fiche-logement {
  font-weight: 500;

  .slideshow-container {
    width: 100%;

    .mySlides {
      display: none;
      width: 100%;
      height: 500px;
      position: relative;
    }

    .mySlides img {
      width: 100%;
      height: 100%;
    }

    .prev,
    .next {
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      font-weight: bold;
      padding: 10px 20px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      user-select: none;
    }

    .prev {
      left: 0;
    }

    .next {
      right: 0;
    }

    .prev:hover,
    .next:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }

    .fade {
      animation-name: fade;
      animation-duration: 1.5s;
    }

    @keyframes fade {
      from {
        opacity: 0.4;
      }
      to {
        opacity: 1;
      }
    }
  }

  .split-container {
    display: flex;
    width: 100%;
  }

  .half-section {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
  }

  .tags {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .tag {
    background-color: #ff6060;
    color: white;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 5px;
  }

  .owner-info {
    text-align: center;
  }

  .owner-info img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .owner-info p {
    font-weight: bold;
  }

  .dropdown-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }

  .title {
    font-size: 36px;
    color: $primary;
    margin-top: 30px;
  }

  .location {
    margin: 20px 0;
  }

  .badge {
    background: $primary;
    color: white;
    font-size: 14px;
    padding: 3px 20px;
    border-radius: 10px;
    margin-right: 10px;
  }
}
