$primary: #ff6060;

.fiche-logement {
  font-weight: 500;

  .split-container {
    display: flex;
    width: 100%;
  }

  .half-section {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
  }

  .tags {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .tag {
    background-color: #ff6060;
    color: white;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 5px;
  }

  .owner-info {
    text-align: center;
  }

  .owner-info img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .owner-info p {
    font-weight: bold;
  }

  .dropdown-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }

  .title {
    font-size: 36px;
    color: $primary;
    margin-top: 30px;
  }

  .location {
    margin: 20px 0;
  }

  .badge {
    background: $primary;
    color: white;
    font-size: 14px;
    padding: 3px 20px;
    border-radius: 10px;
    margin-right: 10px;
  }
}
