$primary: #ff6060;

.fiche-logement {
  font-weight: 500;

  .split-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }

  .half-section {
    width: 48%;
  }

  .owner-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
  }

  .owner-details {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 10px;
  }

  .owner-photo {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 20px;
  }

  .owner-details p {
    font-size: 18px;
    color: #ff6060;
  }

  .tags {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .tag {
    background-color: #ff6060;
    color: white;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 5px;
  }

  .dropdown-container {
    display: flex;
    column-gap: 75px;
  }

  .title {
    font-size: 36px;
    color: $primary;
    margin-top: 30px;
  }

  .location {
    margin: 20px 0;
  }

  .badge {
    background: $primary;
    color: white;
    font-size: 14px;
    padding: 3px 20px;
    border-radius: 10px;
    margin-right: 10px;
  }
}
