$primary: #ff6060;

.error {
  display: flex;
  flex-direction: column;
  gap: 140px;
  align-items: center;
  justify-content: center;
  color: $primary;
  font-weight: 500;

  h1 {
    font-size: 280px;
    font-weight: 700;
  }

  p {
    font-size: 36px;
  }

  a {
    color: black;
    font-size: 18px;
  }
}
