.star-rating {
  display: flex;
}

.star-filled {
  color: #ff6060;
}

.star-empty {
  color: #e4e5e9;
}

.star {
  font-size: 36px;
  margin: 0 4px;
}

@media (max-width: 768px) {
  .star {
    font-size: 20px !important;
  }
}
